body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.2s;
}

h1,h3,h2 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

h1 span {
    color: #ffd166;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

h3 {
    font-size: 1.5rem;
    margin-top: 5px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #555;
}

.game-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-container {
    display: flex;
    flex-direction: column;
}

.rowA, .rowB {
    display: flex;
    justify-content: center;
}

.btn {
    width: 150px;
    height: 150px;
    border: 5px solid #333;
    border-radius: 20%;
    margin: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: transform 0.1s, box-shadow 0.1s, background-color 0.25s;
    cursor: pointer;
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.bA {
    background-color: #ef476f;
}

.bB {
    background-color: #ffd166;
}

.bC {
    background-color: #06d6a0;
}

.bD {
    background-color: #118ab2;
}

.flash {
    background-color: white;
    opacity: 1;
}

.userFlash {
    background-color: lime;
    opacity: 0.75;
}

.gameOver {
    background-color: red !important;
}

.gameOver .game-container {
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
}
